# PROGRAM TO PRINT 'Hello python' 10 times

In [ ]:
x=0
while x<10:
    print("Hello python")
    x=x+1

# PROGRAM TO PRINT NUMBERS FROM 1 TO 10

In [14]:
x=1
while x<=10:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10

# PROGRAM TO PRINT SUM OF FIRST 10 NUMBERS

In [15]:
x=1
sum=0
while x<=10:
    sum= x+sum
    x =x+ 1
print(sum)

55

# PROGRAM TO PRINT N NUMBER ENTER BY USER

In [17]:
# by using for loop
n = int(input("Enter the number"))
for i in range(1,n+1):
    print(i)
    i=i+1

Enter the number10
1
2
3
4
5
6
7
8
9
10

In [18]:
#by using while loop
n=int(input("Enter the number"))
i=1
while i<=n:
    print(i)
    i=i+1

Enter the number9
1
2
3
4
5
6
7
8
9

# PROGRAM TO PRINT SUM OF N NUMBER ENTER BY USER

In [30]:
#by using while loop
n=int(input("Enter the number"))
i=1
sum=0
while i<=n:
    sum=sum+i
    i=i+1
print(sum)

Enter the number4
10

In [31]:
#by using for loop
n=int(input("Enter the number"))
sum=0
for i in range(1,n+1):
    sum=sum+i
    i=i+1
print(sum)

Enter the number10
55

# PROGRAM TO PRINT TABLE OF A NUMBER

In [35]:
n=int(input("Enter the number"))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter the number7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

# PROGRAM TO CALCULATE FACTORIAL OF NUMBER

In [42]:
n=int(input("Enter the number"))
fact=1
for i in range(1,n+1):
        fact=fact*i
print(fact)

Enter the number5
120

# PROGRAM TO PRINT EVEN NUMBERS BETWEEN 1 TO 100

In [53]:
#by using while loop
i=0
while i<100:
    i=i+2
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [59]:
#by using for loop
for i in range(0,101,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# PROGRAM TO PRINT ODD NUMBERS BETWEEN 1 TO 100

In [66]:
#by using while loop
i=1
while i<100:
    i=i+2
    print(i)

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101

In [65]:
#by using for loop
for i in range(1,101,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99